<div class="row content" >
  <!--<div class="col-md-5">-->
    <!--<app-game-list></app-game-list>-->
  <!--</div>-->
  <!--<div class="col-md-7">-->
    <!--<router-outlet></router-outlet>-->
  <!--</div>-->
  <h1>Login:</h1>
  <div>
    <div class="col-md-4">
      <p class="pull-right">Username: </p>
    </div>
    <div class="col-md-8">
      <input type="text" id="username" formControlName="username" class="form-control">
    </div>
  </div>

  <div>
    <div class="col-md-4">
      <p class="pull-right">Password: </p>
    </div>
    <div class="col-md-8">
      <input type="text" id="password" formControlName="password" class="form-control">
    </div>
  </div>
  <button type="button" class="btn btn-primary">Login</button>
</div>
