<div class="itemStyle" style="margin-top: 30px;margin-bottom: 30px;">
<div class="row rowspacing">
</div>
<div class="row itemSpacing">
  <div class="col-xs-12 bottomSpacing">
    <div
      class="btn-group buttonStyle"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Game <span class="glyphicon glyphicon-collapse-down"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditEvent()">Edit Event Information</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteEvent()">Delete Event</a></li>
      </ul>
    </div>

    <div class="row">
    <div class="col-xs-12">
      <h1>{{ event.name }}</h1>
    </div>
  </div>

    <div class="row">
      <div class="col-xs-12">
        <strong>Price: </strong><br>
        {{ event.price }}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <strong>SportHall:</strong>
        {{ event.sportHall }}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <strong>Sport:</strong>
        {{ event.sport }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <strong>Game Publisher:</strong>
        {{ event.availability }}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <strong>Event Users:</strong>
        Are you not on the list? Add yourself to the event!
        <button routerLink="/events/editChar/{{event._id}}/" class="btn btn-primary">Add Character</button>
    </div>
    </div>
  </div>

  <div class="col-md-12" style="margin-top: 20px;">
    <div>
      <app-user-item
        *ngFor="let characterEL of event.users"
        [user]="characterEL"
        [eventId]="event._id"
        [index]="i"
        (userSelected)="onGameSelected(characterEL)">
      </app-user-item>
    </div>
  </div>



</div>
</div>
