/* You can add global styles to this file, and also import other style files */
body{
  background-image: url("https://www.walldevil.com/wallpapers/a88/metal-wallpapers-backgrounds-desktop-computer-twisted-wallpaper-picture-abstract.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
